.slider-image-size{
    /* This class is custom made to control the size of the image in the carousal */
    height: 500px;
    /* width: 60%; */
}
.w-100{
    /* I used this to avoid the width of 100% in the carousal ,it was kinda not looking good */
    width: 80%!important;
    padding-left: 322px;
}
/* We have to take care of the next cursor color of the carousal */

.card-img, .card-img-bottom, .card-img-top {
    width: 100%;
    height: 300px;
}